@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main-padding-left: 200px;
    --main-color: #22235F;
    --bg-hover-color: #856C8B;
    --text-color: #fff;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
}

body {
    padding-top: 60px;
    font-family: 'Inter', sans-serif;
    background: var(--clr-gray100);
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr 2fr;
    grid-template-areas:
        "nav nav nav nav"
        "title title title title"
        "searchbox searchbox searchbox searchbox"
        "asearch asearch asearch asearch"
        "resultb resultb resultb resultb"
        "main main main main";
    gap: 0.2rem;
}

nav {
    background: var(--clr-gray100);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#title {
    background: var(--clr-gray100);
    grid-area: title;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding-left);
}

#search-box {
    background: var(--clr-gray100);
    grid-area: searchbox;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding-left);
}

#advance-search {
    background: var(--clr-gray100);
    grid-area: asearch;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding-left);
}

#result-buttons {
    background: var(--clr-gray100);
    grid-area: resultb;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding-left);
}

main {
    background: var(--clr-gray100);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding-left);
    margin-top: 5px;

    display: grid;
    grid-template-rows: .25fr .5fr .5fr .5fr;
    grid-template-columns: 1fr .5fr;

    grid-template-areas:
        "sortbox sidebar"
        "mcontainer1 sidebar"
        "mcontainer2 sidebar"
        "mcontainer3 .";
    gap: .25rem;


}

#sort-box {
    background: var(--clr-gray100);
    grid-area: sortbox;
    border-radius: var(--main-radius);
}

#side-bar {
    /* background: #ad83d0; */
    background: var(--clr-gray200);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    width: 87%;
}

/* MAIN CONTENT FOR MAIN CONTAINER WITH BOOK & DESC*/

.main-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: .25rem;
}

.book {
    background: var(--clr-gray100);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: var(--main-radius); */
}

.desc {
    background: var(--clr-gray100);
    border-radius: var(--main-radius);
}


#mcontainer1 {
    background: var(--clr-gray100);
    grid-area: mcontainer1;
    border-radius: var(--main-radius);
    border-bottom: 2px solid var(--main-color);
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "book" "description";
}

#mcontainer1 article {
    grid-area: description;
    color: var(--main-color);
}

article a {
    color: #bf3939;
}

article i {
    cursor: pointer;
}

.a {
    color: #125c4a;
}

.b {
    text-decoration: underline;
}

#book1 {
    grid-area: book;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#book1 img {
    display: flex;
    height: 200px;
    width: 120px;
    padding-top: 20px;
    padding-right: 30px;
}

.desc-button {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.desc-button button {
    border-radius: 10px;
    font-size: small;
    color: var(--main-color);
    padding: 10px;
    background: white;
    border: 2px solid var(--main-color);
    cursor: pointer;
}


#mcontainer2 {
    background: var(--clr-gray100);
    grid-area: mcontainer2;
    border-radius: var(--main-radius);
    border-bottom: 2px solid var(--main-color);
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "book" "description";
}

#mcontainer2 article {
    grid-area: description;
    color: var(--main-color);
}

#book2 {
    grid-area: book;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#book2 img {
    display: flex;
    height: 200px;
    width: 120px;
    padding-top: 20px;
    padding-right: 30px;
}

#mcontainer3 {
    background: var(--clr-gray100);
    grid-area: mcontainer3;
    border-radius: var(--main-radius);
    border-bottom: 2px solid var(--main-color);
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "book" "description";
}

#mcontainer3 article {
    grid-area: description;
    color: var(--main-color);
}

#book3 {
    grid-area: book;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#book3 img {
    display: flex;
    height: 200px;
    width: 120px;
    padding-top: 20px;
    padding-right: 30px;
}


/* END MAIN CONTENT FOR MAIN CONTAINER BOOK & DESC*/

/* SIDEBAR CONTENT */
#sidebar {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
    grid-template-areas:
        "catalog"
        "age"
        "format"
        "tags"
        "language";
}

#catalog {
    grid-area: catalog;
    background: var(--clr-gray200);
    border-radius: var(--main-radius);
    padding-left: 5px;
    color: var(--main-color);
}

.side-buttons #red {
    background: #bf3939;
    color: white;
    border: none;
}

.side-buttons {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.side-buttons button {
    border-radius: 10px;
    font-size: small;
    color: var(--main-color);
    padding: 10px;
    background: white;
    border: 2px solid var(--main-color);
    cursor: pointer;
    word-wrap: break-word;
}

#age {
    grid-area: age;
    background: var(--clr-gray200);
    border-radius: var(--main-radius);
    padding-left: 5px;
    color: var(--main-color);
}

#format {
    grid-area: format;
    background: var(--clr-gray200);
    border-radius: var(--main-radius);
    padding-left: 5px;
    padding-right: 80px;
    color: var(--main-color);
}


#format p {
    margin-top: 0;
    line-height: 1px;
}

#format i {
    cursor: pointer;
}

#tags {
    grid-area: tags;
    background: var(--clr-gray200);
    border-radius: var(--main-radius);
    padding-left: 5px;
    color: var(--main-color);
}

.box {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
}

.box input {
    width: 0;
    outline: none;
    font-weight: 50px;
    border: none;
    background: transparent;
    width: 95%;
    display: flex;
}



#language {
    grid-area: language;
    background: var(--clr-gray200);
    border-radius: var(--main-radius);
    padding-left: 5px;
    color: var(--main-color);
}

.lang-list {
    color: var(--main-color);
}

input[type="radio"] {
    accent-color: var(--main-color);
    border: 2px solid var(--main-color);
}

.lang-list p {
    margin-top: 0;
    margin-left: 6px;
    line-height: 1px;
}

.lang-list i {
    cursor: pointer;
}



/* END SIDEBAR CONTENT */

/* NAV BAR */
nav {
    position: fixed;
    width: 98.9vw;
    top: 0;
}

.nav-list {
    /* background-color: white; */
    /* set x and y to 0 and blur of 10 */
    box-shadow: 0px 0px 10px var(--clr-gray200);
    border-bottom: 2px solid var(--main-color);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    /* pushes all the content to the right */
    justify-content: flex-end;
    align-items: center;
}


#logo img {
    width: 317px;
    height: 36px;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: var(--main-color);
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--bg-hover-color);
}

/* how to move the logo to the left */
.logo {
    margin-right: auto;
    margin-left: 2rem;
}

.btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--radius);
    /* .5rem for top/botton and 1rem for left and right padding */
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-primary:hover {
    background: var(--bg-hover-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links a {
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: center; */
    margin: 0;
    transition: all .50s ease;
    padding: 1rem 0;
}

#red a {
    color: #c54115;
    text-decoration: underline;
}


/* END OF NAV BAR */

/* TITLE */
#title h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-color);
}

/* END OF TITLE */

/* SEARCH BOX */
.search-box {
    height: 70px;
    width: 70vw;
    display: flex;
    cursor: pointer;
    /* padding: 10px 20px; */
    padding: var(--main-padding);
    background: var(--clr-gray100);
    border-radius: 10px;
    align-items: center;
    border: 2px solid black;
}

.search-box input {
    width: 95%;
    display: flex;
    outline: none;
    border: none;
    font-weight: 200;
    font-size: 18pt;
    color: #525367;
    background: transparent;
    padding: var(--main-padding);
    padding-top: 10px;
}

.search-box .fas {
    font-size: 40px;
    color: var(--main-color);
}

/* END OF SEARCH BOX */

/* SEARCH LINK AND LOGO */

.a-border {
    /* background: #856C8B; */
    width: 71vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    /* padding-top: 1px; */
}

.a-border .fa {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 5px var(--main-color);
}

.a-border #text {
    font-size: 20px;
    vertical-align: middle;
    color: var(--main-color)
}

/* END SEARCH LINK AND LOGO */

/* RESULT BUTTONS*/
#result-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    background: var(--main-color);
    color: white;
    padding: 11px;
    border-radius: var(--main-radius);
    /* font-size: 23px; */
    font-size: 1.65vw;
    min-width: 15.5vw;
    flex-wrap: wrap;
    /* text-align: center; */
    align-items: center;
    display: flex;
    /* overflow: auto; */
    cursor: pointer;
}


#btn2 {
    /* font-size: 23px; */
    color: white;
    /* display: flex; */
    /* padding-right: 5px; */
    /* margin: 0 20px; */
    /* align-items: center; */
    background: #c12f15;
    /* overflow: auto; */
}

/* END RESULT BUTTONS*/

/* SORT BOX*/
select {
    height: 50px;
    width: 33vw;
    display: flex;
    border: 2px solid var(--main-color);
    border-radius: var(--main-radius);
    font-size: large;
    /* background-size: 50px 50px; */
    color: #7a7e7e;
}

/* END SORT BOX*/


/* RESPONSIVE */
@media (max-width: 1200px) {

    /* Responsive Navbar */
    #menu-icon {
        display: block;
    }

    .logo {
        display: block;
    }

    .links {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 52vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        transition: all .50s ease;
    }

    .links a {
        display: block;
        margin: 12px 0;
        color: var(--clr-gray200);
        padding: 0px 25px;
        transition: all .50s ease;

    }

    .links a:hover {
        color: var(--bg-hover-color);
        transform: translateY(5px);
    }

    .links a.active {
        color: white;
    }

    .links.open {
        right: 2%;
    }

    /* END Responsive Navbar */

}

@media (max-width: 800px) {

    /* CONTENT Response */
    body {
        overflow-x: hidden;
    }

    #title,
    #search-box,
    #advance-search,
    #result-buttons,
    main {
        padding-left: 0;
    }

    main {
        height: 100vh;
    }

    /* END CONTENT Response */

    /* SIDE BAR Responsive */
    #format p {
        /* margin-top: 5px; */
        line-height: 14px;
    }

    .lang-list p {
        line-height: 15px;
    }

    .box {
        width: 90%;
    }

    /* END SIDE BAR Responsive */

    /* Book Containers */

    #search-box input {
        font-size: 90%;
    }

    #sort-container {
        font-size: 85%;
    }

    #mcontainer1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "book"
            "description";
        height: 970px;
    }

    #book1 {
        justify-content: start;
        /* height: 410px; */
    }

    #book1 img {
        /* height: 20vh; */
        height: 410px;
        width: 300px;
        /* margin-bottom: 0; */
    }

    #mcontainer2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "book"
            "description";
        height: 970px;
    }

    #book2 {
        justify-content: start;
    }

    #book2 img {
        /* height: 20vh; */
        height: 410px;
        width: 300px;
        /* padding-left: 5px; */
    }

    #mcontainer3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "book"
            "description";
        /* height: 100vh; */
        height: 970px;
    }

    #book3 {
        justify-content: start;
    }

    #book3 img {
        /* height: 20vh; */
        height: 410px;
        width: 300px;
        /* padding-left: 5px; */
    }

    /* #book3 .desc {
        margin-top: 10px;
    } */

    .desc h3 {
        margin-top: 10px;
    }

    /* END Book Containers */

}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }

    /* #book1 {
        margin-bottom: 100px;
    } */

    .desc-main {
        height: 100vh;
    }

    #book1 img {
        display: flex;
        height: 200px;
        width: 120px;
        padding-top: 20px;
        padding-right: 10px;
    }

    #book2 img {
        display: flex;
        height: 200px;
        width: 120px;
        padding-top: 20px;
        padding-right: 10px;
    }

    #book3 img {
        display: flex;
        height: 200px;
        width: 120px;
        padding-top: 20px;
        margin-top: 20px;
        padding-right: 10px;
    }
}